.error{
      background-color: #1c2416;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 999;
}
.msg{
    color: #c6c7c5;
    font-size: 1rem;
}
.svg{
    border: 2p solid white;
}