.Footer {
  background-color: #1c2416;
  width: 100%;
  display: flex;
  flex-direction: column;
color: #c6c7c5;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;

  padding: 2rem 0rem;
}
.Brand-info {
 color: #c6c7c5;

}
.logo-section-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-image {
  background-image: url("../images/logo.png");
  background-size: cover;
  width: 5rem;
  height: 5rem;
}
.nav-logo-name-section{
    font-size: 2.5rem;
}
.nav-logo-name-section {
  font-family: Inter;
  font-weight: 900;
  font-size: 2.3re;
  color: #959191;
}
.description p {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
}
.Brand-info {
  width: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}
.links-social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.social-media-icon{
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
 cursor: pointer;
}
.quick-links {
  display: flex;
  flex-direction: column;

}
.quick-links h2 {
  font-family: Inter;
  font-weight: 800;
  font-style: Extra Bold;
  font-size: 28px;
}
.links-wraper a {
   color: #c6c7c5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  margin-top: 1rem;
}
.input-box-container{
  border: 3px solid #c6c7c5;;
}
.input-box{
  background-color: transparent;
  width: 16.2rem;
  padding: 10px;
   color: #c6c7c5;
}
.input-box-container button {
  background-color: #c6c7c5;
  color: black;
  width: 6.2rem;
  height: 3.1rem;
  border: none;
  font-size: 14px;
  font-weight: 600;

}
.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 3rem;
}
.newsletter-form h2 {
  font-family: Inter;
  font-weight: 800;
  font-style: Extra Bold;
  font-size: 24px;
}
.copy-rights {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  margin: 0rem 5.5rem;
}
@media (min-width: 481px) and (max-width: 768px) {
  .Footer {
    flex-direction: column;

   color: #c6c7c5;
  }
  .footer-container {
  flex-direction: column;
}
.copy-rights {
  justify-content: space-between;
}
.Brand-info {
  width: 100%;
}
    .footer-container {
  flex-direction: column;
    margin: 0px;
}
.quick-links h2 {

  font-size: 22px;
}
.links-wraper a {
  font-size:18px;

}
.copy-rights p{
    font-size: 1rem;
}
}
@media (min-width: 20px) and (max-width: 480px) {
  .Footer {
    flex-direction: column;
  }
  .Brand-info {
  width: 100%;
}
.nav-logo-name-section{
    font-size: 1.5rem;
}
    .footer-container {
  flex-direction: column;
    margin: 0px;
}

.quick-links h2 {

  font-size: 22px;
}
.links-wraper a {
  font-size:18px;

}
.copy-rights {
    flex-direction: column;
  justify-content: center;
}
.copy-rights p{
    font-size: 0.7rem;
}
.logo-image {
  width: 3rem;
  height: 3rem;
}
.input-box{

  width: 10.2rem;
  padding: 10px;
  
}
}
