nav {
  display: flex;
  flex-direction: row;
    background-color: #1c2416;
  justify-content: space-between;
}
.logo-section {
  width: 200px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.logo {
  background-image: url("./images/logo.png");
  background-size: cover;
  width: 38px;
  height: 38px;
}
.nav-logo-name {
  width: 169px;
  height: 34px;
  font-family: Inter;
  font-weight: 900;
  font-size: 24px;
  color: #959191;
  margin-left: 2px;
  margin-top: 5px;
}
.navbar-list {
  width: 531px;
  height: 35px;
 color: #c6c7c5;
  margin-top: 10px;
}
.navbar-list ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
    z-index: 9;

}
.navbar-list ul li{
  list-style: none;
  font-family: Indie Flower;
  font-weight: 100;
  font-size: 25px;
  cursor: pointer;
 
}
 a {
  text-decoration: none;
  color: #dfd8d8;

}
.navbar-list li a {
  text-decoration: none;
  color: #dfd8d8;

}
.search-section {
width: 14rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.search-icon {
  background-image: url("/images/search.png");
  background-size: cover;
  width: 22px;
  height: 22px;
}
.bag-icon {
  background-image: url("/images/bag.png");
  background-size: cover;
  width: 22px;
  height: 22px;
}
.hamburger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  display: none;
}
.strock-first {
  width: 30px;
  border: 2px solid  #c6c7c5;;
  border-radius: 20px;
}
.strock-second {
  width: 24px;
  margin-top: 8px;
  border: 2px solid  #c6c7c5;;
  border-radius: 20px;
}

nav ul li:hover {
  color: #4CAF50;
}
nav ul li:active {
  transform: scale(0.95);
  color: #2e7d32;
}
@media (min-width: 481px) and (max-width: 768px) {

.navbar-list ul {
  position: absolute;
  position: 0;
  z-index: 999;
  top: 50px;
  left: 0;
   background-color: #1c2416;
  height: 100vh;
  width: 100%;
  display: block;
  text-align: center;
  left: -100%;
}
.open ul{
    left: 0%;
}
.navbar-list ul li{
    margin: 4rem;
}
.hamburger {
  display: flex;
}
}
@media (min-width: 20px) and (max-width: 480px) {
  .navbar-list ul {
  position: absolute;
  position: 0;
  z-index: 9;
  top: 50px;
  left: 0;
   background-color: #1c2416;
  height: 100vh;
  width: 100%;
  display: block;
  text-align: center;
  left: -100%;
}
.open ul{
    left: 0%;
}
.navbar-list ul li{
    margin: 4rem;
}
.hamburger {
  display: flex;
}
}