.Trending-plant-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.highlight-plant-card {
  display: flex;
  flex-direction: row;
  width: 90%;
  border: 2px solid #c6c7c5;;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(18px);
  border-radius: 150px;
  margin: 2rem;
  position: relative;
}

.highlight-plant-card img {
  width: 30rem;
  height: 30rem;
  position: relative;
  top: -8rem;
}
.cart-info {
 color: #c6c7c5;
  display: flex;
  flex-direction: column;
}
.cart-info h2 {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 2.5rem;
  margin: 0.5rem;
}
.row-reverse {
  display: flex;
  flex-flow: row-reverse;
}

.cart-info p {
  font-family: Inter;
  font-weight: 400;
  font-style: Semi Bold;
  font-size: 20px;
}
.explore-plants {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.explore-plants button {
  width: 10rem;
  height: 3.5rem;
 color: #c6c7c5;
  background-color: transparent;
  border-radius: 6px;
  border: 2px solid #c6c7c5;;
  font-size: 1.2rem;
}
.icon-card-btn {
  width: 2.8rem;
  height: 3rem;
  border-radius: 5px;
  border: 2px solid  #c6c7c5;;
  margin-left: 15px;
}
.icon-card-btn-logo {
  background-image: url("/images/bag.png");
  background-size: cover;
  width: 2.2rem;
  height: 2.2rem;
}

@media (min-width: 481px) and (max-width: 1000px) {
  .highlight-plant-card {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .highlight-plant-card {
    margin: 2rem;
    position: relative;
    border-radius: 15px;
  }

  .highlight-plant-card img {
    position: relative;
    top: -1rem;
  }
}
@media (min-width: 20px) and (max-width: 480px) {
  .highlight-plant-card {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .highlight-plant-card {
    margin: 2rem;
    position: relative;
    border-radius: 15px;
  }

  .highlight-plant-card img {
    position: relative;
    top: -1rem;
  }

  .highlight-plant-card img {
    width: 20rem;
    height: 20rem;
    position: relative;
    top: -1rem;
  }
  .cart-info h2 {
    font-size: 2rem;
  }
}
